<div class="container-fluid container-xxl">
  <div class="row d-flex justify-content-center">
    <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12 d-flex justify-content-center p-2">
      <div class="content text-center">
        <div class="heading">Smart-Connect</div>
        <div class="description">
          content here
        </div>
        <button
          type="button"
          class="btn btn-outline-info btn-lg"
          routerLinkActive="active"
          routerLink="/register">
          Register &gt;&gt;&gt;
        </button>
      </div>
    </div>
  </div>
</div>
