<nav class="navbar navbar-dark bg-dark sticky-top">
  <div class="container-fluid">
    <div class="w-100 navbar-header">
      <button
        mat-button
        class="navbar-brand"
        routerLinkActive="active"
        routerLink="/dashboard">
        Dashboard
      </button>

      <button
        mat-button
        class="navbar-brand"
        routerLinkActive="active"
        style="float:right"
        (click)="this.authService.logoutUser()">
        Log Out
      </button>
    </div>
  </div>
</nav>
